.detached-screen__railway
  background url("../img/general/bg-railway.jpg") no-repeat center
  background-size cover

// @media (max-width 800px)
//   .detached-screen__railway .detached-screen_content
//     padding-top 40px

