.detached-screen__cars
  background url("../img/general/bg-cars.jpg") no-repeat center
  background-size cover

.detached-screen_icon-tip
  color #ffffff
  font-size 18px
  font-weight lighter
  line-height 20px
  margin-top 30px
