.detached-screen
  box-sizing border-box
  display none
  height 100%
  overflow hidden
  position fixed
  width 100%
  &:first-child
    display block
    position absolute

.detached-screen_overlay
  background #000
  position absolute
  bottom 0
  top 0
  right 0
  left 0
  z-index 3

.detached-screen_icon-img
  max-width 100%

.detached-screen_icon-subtitle
  color #ffffff
  font-size 24px
  font-weight normal
  margin 20px 0

.detached-screen_description
  margin-top 30px

.detached-screen_description-list
  list-style none
  margin-top 72px
  padding 0

.detached-screen_description-list_text
  font-size 48px
  line-height 56px
  position relative
  &:before
    background #ffffff
    border-radius 50%
    content ""
    height 16px
    left -35px
    position absolute
    top 18px
    width 16px



// @media (max-width: 800px)
//   .detached-screen
//     padding 0 5px

//   .detached-screen_description-text
//     font-size 24px
//     line-height 32px

//   .detached-screen_btn
//     min-width 100%

//   .detached-screen_icon-img
//     max-width 26vw

//   .detached-screen_icon-subtitle
//     margin 10px 0

//   .detached-screen_description-list_item
//     margin-bottom 10px
//     &:last-child
//       margin-bottom 0

//   .detached-screen_description-list_text
//     font-size 24px
//     line-height 32px
//     &:before
//         border-radius 50%
//         content ""
//         height 6px
//         left -10px
//         position absolute
//         top 12px
//         width 6px

