.detached-screen
  box-sizing border-box
  display none
  height 100%
  padding 0 20px
  position fixed
  text-align center
  width 100%
  &:first-child
    display block
    position absolute

.detached-screen_icon-subtitle
  color #ffffff
  font-size 24px
  font-weight normal
  margin 20px 0

.detached-screen_description
  margin-top 30px

.detached-screen_description-text
  color #ffffff
  font-size 48px
  font-family sans-serif
  font-weight normal
  line-height 56px
  margin 0 auto
  max-width 1000px

.detached-screen_description-list
  list-style none
  margin-top 72px
  padding 0

.detached-screen_description-list_text
  font-size 48px
  line-height 56px
  position relative
  &:before
    background #ffffff
    border-radius 50%
    content ""
    height 16px
    left -35px
    position absolute
    top 18px
    width 16px

.detached-screen_btn
  background #eb0029
  border none
  color #ffffff
  margin-top 60px
  min-height 60px
  min-width 300px
  transition background 50ms
  &:hover
    background #da0018
    transition background 100ms
  &:focus
    outline none
