// Width map.
$palmtopWidth = 1024px
$phoneWidth = 768px
$smallPhoneWidth = 320px

// Color map.
$colorRed = #EB0029
$colorTextGrey = #262626
$bodyBg = #ffffff

html
body
  height 100%

body
  background: $bodyBg

.l-restrictor
  box-sizing border-box
  margin 0 auto
  max-width 1440px

.emphasis
  font-family: $AvenirRegular

html.mob-menu-active
  overflow: hidden

  .l-section_overlay
    z-index: 998
    opacity: 1

  body
    overflow: hidden

.fp-tableCell {
  vertical-align: top !important;
}

