// Width map.
$palmtopWidth = 1024px
$phoneWidth = 768px
$smallPhoneWidth = 320px

// Color map.
$colorRed = #EB0029
$colorTextGrey = #262626

html
body
  height 100%

body
  background: #ccc

.l-section
  height 100%

.l-section_overlay
  opacity: 0
  position: fixed
  background: rgba(0,0,0,0.5)
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1

.l-restrictor
  box-sizing border-box
  margin 0 auto
  max-width 1440px

.emphasis
  font-family: $AvenirDemi

html.mob-menu-active
  overflow: hidden

  .l-section_overlay
    z-index: 998
    opacity: 1

  body
    overflow: hidden




