// Avenir Regular.
@font-face {
    font-family: 'AvenirRegular';
    src: url('../fonts/AvenirRegular.eot');
    src: url('../fonts/AvenirRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirRegular.woff') format('woff'),
         url('../fonts/AvenirRegular.svg') format('svg');
    }

$AvenirRegular = 'AvenirRegular', Helvetica, Arial, sans-serif

// Avenir Demi.
@font-face {
    font-family: 'AvenirDemi';
    src: url('../fonts/AvenirDemi.eot');
    src: url('../fonts/AvenirDemi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirDemi.woff') format('woff'),
         url('../fonts/AvenirDemi.svg') format('svg');
    }

$AvenirDemi = 'AvenirDemi', Helvetica, Arial, sans-serif
