.detached-screen__architecture
  background url("../img/general/bd-architecture.jpg") no-repeat center
  background-size cover

.detached-screen__architecture .detached-screen_content
  padding-top 120px

