.detached-screen__about-page
  position: relative !important
  .footer
    position: relative

  .content-wrapper
    padding-top: 70px !important

@media (max-width: 500px)
  .header__about
    padding-left: 20px !important
    padding-right: 20px !important
