.detached-screen__software
  background #F7F7F7

.software-content_description
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 18px
  line-height: 24px
  margin-bottom: 22px
  margin-top: 50px;
  max-width: 800px

.software-comparator-list
  list-style none
  margin: 47px 0 0 0
  padding 0
  text-align: center

.software-comparator-list_item
  display: inline-block;
  vertical-align: top;
  text-align: left;

.software-comparator-list_item:first-child
  margin-right: 20px

.software-comparator-list_img
  box-shadow 0 0 10px 0 rgba(0,0,0, 0.13)
  height: 260px
  width: 220px

.software-comparator-list_description
  color $colorRed
  font-family: $AvenirRegular
  font-size: 16px
  line-height: 20px
  max-width: 200px

@media (max-width: $phoneWidth)
  .detached-screen__software .content-wrapper
    padding-top: 5px

  .software-comparator-list_img
    height: auto
    width: 100%

@media (max-width: $smallPhoneWidth)
  .software-content_description
    font-size: 16px
    line-height: 25px

  .software-comparator-list_description
    font-size: 12px
    line-height: 15px


