.detached-screen__software
  background #F7F7F7

.software-content_description
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 21px
  line-height: 30px
  margin-bottom: 2.3vh
  margin-top: 0
  max-width: 700px

.software-comparator-list
  display: flex
  list-style none
  margin: 3.7vh 0 0 0
  padding 0

.software-comparator-list_item:first-child
  margin-right: 9.73vw

.software-comparator-list_img
  box-shadow 0 0 30px 0 rgba(0,0,0, 0.13)
  height: 260px
  width: 220px

.software-comparator-list_description
  color $colorRed
  font-family: $AvenirRegular
  font-size: 16px
  line-height: 20px
  max-width: 200px

@media (max-width: $phoneWidth)
  .software-comparator-list_img
    height: auto
    width: 100%

@media (max-width: $smallPhoneWidth)
  .software-content_description
    font-size: 16px
    line-height: 25px

  .software-comparator-list_description
    font-size: 12px
    line-height: 15px


