 .detached-screen__machine
  background: #e3e3e3
  border-top: none
  padding-bottom: 0;
  .l-restrictor
    height: 100%
    background: #e3e3e3
    max-width: 1920px;
  .content-wrapper
    height: 100%
    padding-left: 40px

.content-title__machine
  margin-bottom: 34px !important

.wbt-rotator
  // background: linear-gradient(#e3e3e3, #dadada) !important
  background: #333
  height: 100vh
  max-width: 1920px !important
  width: 100%


.wbt-rotator-content
  float: none
  border: none
  margin: auto

.wbt-rotator-image
  max-width: 1920px
  margin:auto

.wbt-rotator-cover {width:100%;}

@media (max-width $palmtopWidth)
    .wbt-rotator__loaded .wbt-rotator-legend
      top: 0
      right: 0
      width: 320px

    .detached-screen__machine
      padding: 0 !important

    .content-title__machine
      left: 64px




@media only screen and  (max-width $phoneWidth)
  .detached-screen__machine
    padding-bottom: 0 !important

  .wbt-rotator-legend
    position: static

  .wbt-rotator__loaded .wbt-rotator-legend
    background: #fff;
    border-radius: 0;
    overflow: initial;
    width: 100%

  .wbt-rotator-titles_list
    display: inline-block
    vertical-align: top
    width: 50%

  .wbt-rotator__descriptions .wbt-rotator-descriptions_list
    box-sizing border-box
    float: right
    padding-right: 20px
    padding-bottom: 20px
    top: 10px
    width: 49%
    max-width: 59%

  .wbt-rotator-legend
    background: rgb(51, 51, 51)

  .wbt-rotator-titles_item:hover
    background: $colorRed

@media (max-width: 500px)
  .detached-screen__machine .content-wrapper
    padding-left: 20px

  .wbt-rotator-titles_list
    width: 100%

  .wbt-rotator__descriptions .wbt-rotator-descriptions_list
    float none
    padding-left: 20px
    padding-bottom: 30px
    max-width: 100%
    width: 100%

  .wbt-rotator-legend__active
    .wbt-rotator-titles_list
      padding-bottom: 0
    .wbt-rotator-titles_item
      display: none
    .wbt-rotator-titles_item__active
       display: block

  .wbt-rotator-titles_item__active
    background: $colorRed
    &:before
      background: url("../img/general/legend-arrow-left__active.svg") no-repeat center !important;

  .wbt-rotator-titles_item__active:before
      background: url("../img/plugins/legend-arrow-right__active.svg") no-repeat center !important;

  .wbt-rotator-titles_item__active .wbt-rotator-titles_text
    color: #fff !important;









