$descriptionTextColor = #262626
$btnRed = #EB0029
$anchorLinkColor = #666666

.detached-screen__greenting
  background rgb(102, 102, 102) url("../img/general/bg-greeting.jpg") no-repeat center
  background-size cover
  opacity: 1 !important

.greeting-content
  padding-top 26.7vh

.greeting-content_description
  color $descriptionTextColor
  font-family: $AvenirDemi
  font-size 56px
  line-height 60px
  margin 0
  max-width: 755px

.greeting-content_btn
  background $btnRed
  border-radius: 8px;
  border none
  color #ffffff
  font-family: $AvenirDemi
  font-size: 18px
  margin-top 20vh
  min-height 80px
  width 100%
  transition background 50ms
  &:hover
    background #da0018
    transition background 100ms
  &:focus
    outline none

.anchors-nav
  display: none
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;

.anchors-nav-list
  list-style none
  margin: 0
  padding: 0
  text-align:center

.anchors-nav-list_item
  display inline-block
  margin-right 30px
  vertical-align middle
  &:last-child
    margin-right 0

.anchors-nav-list_link
  color: $anchorLinkColor
  cursor pointer
  font-size 14px
  font-family $AvenirRegular
  text-decoration none
  text-transform uppercase
  transition color 100ms
  &:hover
    color #eb0029
    transition color 50ms

@media (max-width: $phoneWidth)
  .greeting-content_description
    font-size: 46px
    line-height: 50px

@media (max-width: 500px)
  .greeting-content
    padding-top: 120px

  .greeting-content_btn
    margin-top: 100px

@media (max-width: 500px)
  .greeting-content_description
    font-size: 40px
    line-height: 46px
    max-width: 100%
  .greeting-content_btn
    min-height: 50px;

@media (max-width: $smallPhoneWidth)
  .greeting-content_description
    font-size: 32px
    line-height: 35px

  .greeting-content
    padding-top: 60px

  .greeting-content_btn
    margin-top: 50px







