.detached-screen__greenting
  background url("../img/general/bg-greeting.jpg") no-repeat center
  background-size cover

// @media (max-width: 800px)
//   .detached-screen__greenting .detached-screen_content
//     padding-top 60px
