.detached-screen__about
  background: #ffffff

.about-content
  margin-top 12vh

.about-content_title
  color $colorRed
  font-family: $AvenirDemi
  font-size: 32px
  margin: 0 0 4.45vh 0
  text-decoration: none

.about-content_description
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 21px
  line-height: 30px
  margin-bottom: 2.3vh
  margin-top: 0

.about-content_description-emphasis
  font-family: $AvenirDemi

.about-company_btn
  border 1px solid $colorRed
  color $colorRed
  display: block
  font-family: $AvenirRegular
  font-size: 16px
  line-height 40px
  margin 4.45vh auto
  max-width: 220px
  text-decoration: none
  text-align: center
  transition background color 50ms
  width 100%
  &:hover
    background #da0018
    color #ffffff
    transition background color 100ms
  &:focus
    outline none
