.detached-screen__about
  background: #ffffff

.about-content_description
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 18px
  line-height: 24px
  margin-bottom: 25px
  margin-top: 0

.about-content_description__big
  color: #4D4D4D
  font-size: 24px
  line-height: 32px

// .about-content_description-emphasis
//   font-family: $AvenirDemi

.about-company_btn
  border 1px solid $colorRed
  border-radius: 60px
  color $colorRed
  display: block
  font-family: $AvenirDemi
  font-size: 18px
  line-height 64px
  margin 50px auto 24px
  max-width: 304px
  text-decoration: none
  text-align: center
  transition background 150ms, color 150ms
  width 100%
  &:hover
    background #da0018
    color #ffffff
    transition background 50ms, color 50ms
  &:focus
    outline none

@media (max-width: $phoneWidth)
  .detached-screen__about .content-wrapper
    padding-top: 5px

  .about-content_description
    font-size: 16px
    line-height: 25px


@media (max-width: 500px)
  .about-company_btn
    max-width: 100%
