$colorTip = #4d4d4d

.detached-screen__kit
  background #ffffff

.kit-content_title
  color $colorRed
  font-family: $AvenirDemi
  font-size: 32px
  margin: 0 0 4.45vh 0
  text-decoration: none

.kit-table-wrapper
  margin-bottom: 40px
  &:last-child
    margin-bottom: 80px

.kit-table
  list-style: none
  margin: 0
  padding: 0

.kit-table-title
  color $colorTextGrey
  font-family: $AvenirDemi
  font-size: 21px
  margin-bottom: 20px

.kit-table-subtitle
  color $colorTextGrey
  font-family: $AvenirDemi
  font-size: 16px
  margin-bottom: 20px

.kit-table_row
  border-bottom: 1px solid #E5E5E5
  padding-bottom: 20px
  margin-bottom: 20px

.kit-table_row__tip
  border-bottom: none

.kit-table_col
  color $colorRed
  font-family: $AvenirRegular
  font-size: 16px
  display: inline-block
  text-align: right
  vertical-align: top
  width: 20%
  &:first-child
    text-align: left

.kit-table__short .kit-table_col
  &:first-child
    width: 70%
  &:last-child
    width: 30%

.kit-table_row__tip .kit-table_col
  color $colorTip
  font-size: 14px
  width: 100% !important

.kit-table_col__model
  font-family: $AvenirDemi

.kit-table_col__title
  color $colorTextGrey

.kit-table_row__head .kit-table_col
  color $colorTextGrey
  font-size: 14px

.kit-table_side
  color $colorTip
  font-size: 14px







