$colorTip = #4d4d4d

.detached-screen__kit
  background #ffffff

.kit-table-wrapper
  margin-bottom: 40px
  &:last-child
    margin-bottom: 80px

.kit-table
  list-style: none
  margin: 0
  padding: 0

.kit-table-title
  color $colorTextGrey
  font-family: $AvenirDemi
  font-size: 18px
  margin-bottom: 20px

.kit-table-subtitle
  color $colorRed
  font-family: $AvenirDemi
  font-size: 16px
  margin-bottom: 20px

.kit-table_row
  border-bottom: 1px solid #E5E5E5
  padding-bottom: 20px
  margin-bottom: 20px

// .kit-table-wrapper__models .kit-table_row
//   border-bottom: none;
//   &:first-child
//     border-bottom: 1px solid #E5E5E5

.kit-table_row__tip
  border-bottom: none

.kit-table_col
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 16px
  display: inline-block
  text-align: right
  vertical-align: top
  width: 19.5%
  &:first-child
    text-align: left

.kit-table__short
  list-style: none
  margin: 0 0 40px 0
  padding: 0

.kit-table__short .kit-table_col
  &:first-child
    width: 69%
  &:last-child
    width: 30%

.kit-table_row__tip .kit-table_col
  color #666666
  font-size: 12px
  width: 100% !important

.kit-table_col__model
  font-family: $AvenirDemi

.kit-table_col__title
  color $colorTextGrey

.kit-table_row__head .kit-table_col
  color #666666
  font-size: 12px

.kit-table_side
  color $colorTip
  font-size: 14px

.kit-table-mobile
  list-style: none
  padding: 0
  display: none
  margin-bottom: 40px

.kit-table_row
  display: flex
  justify-content:  space-between

.kit-table-mobile .kit-table_row__head .kit-table_col
  font-family: $AvenirDemi
  color $colorRed

.kit-table-mobile_val
  color $colorRed
  text-align: right

@media (max-width: $phoneWidth)
  .detached-screen__kit .content-wrapper
    padding-top: 5px

  .kit-table
    display: none

  .kit-table-mobile
    display: block

  .kit-table_col
    font-size: 14px






