$colorFooterLink = #000059

.footer
  background: #ffffff
  // bottom: 0
  line-height: 20px
  text-align: center
  padding-bottom: 20px

.footer_info
  color: $colorRed
  font-family: $AvenirRegular
  font-size: 16px

.footer-label
  color $colorFooterLink
  font-family: $AvenirRegular
  font-size: 12px
  margin 8px auto

.footer-link
  color $colorFooterLink
  font-family: $AvenirDemi
  text-decoration: none
  &:hover
    border-bottom 1px solid
