.detached-screen__gds
  background url("../img/general/bg-gds.jpg") no-repeat center
  background-size cover
  opacity: 1;

.content-wrapper__gds
  padding-top: 16vh !important

.content-title__gds
  color #ffffff !important

