.detached-screen__laser-description
  background #ffffff

.laser-description-content_title
  color $colorRed
  font-family: $AvenirDemi
  font-size: 32px
  margin: 0 0 4.45vh 0
  text-decoration: none

.laser-description-content_description
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 21px
  line-height: 30px
  margin-bottom: 2.3vh
  margin-top: 0

