.detached-screen__laser-description
  background #ffffff
  padding-bottom: 0 !important

.content-wrapper__laser-description
   display: inline-block;
   padding-left: 24px
   width: 49%;
   vertical-align: middle

.laser-description-content_description
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 21px
  line-height: 30px
  margin-bottom: 25px
  margin-top: 0


.laser-content_img
  display: inline-block;
  width: 48%
  vertical-align: middle

.laser-content_description__mobile
  color $colorRed !important
  display: none
  font-size: 16px
  line-height: 25px

@media (max-width: $phoneWidth)
  .detached-screen__laser-description .content-wrapper
    padding-top: 5px

@media (max-width: 640px)
  .laser-description-content_description
    font-size: 16px
    line-height: 25px

  .laser-content_description
    display: none

  .laser-content_description__mobile
    display: block

