.detached-screen__facts
  background #F7F7F7

.facts-content_fact
  margin-bottom: 4.45vh

.facts-content_number
  color: $colorTextGrey
  font-family: $AvenirDemi
  font-size: 48px
  margin-bottom: 1.2vh


.facts-content_description
  color $colorRed
  font-family: $AvenirRegular
  font-size: 16px
  line-height: 20px
  margin-bottom: 1.2vh
  margin-top: 0
  max-width: 430px

.facts-content_author
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 16px
  line-height: 20px
  max-width: 390px

@media (max-width: $phoneWidth)
  .detached-screen__facts .content-wrapper
    padding-top: 5px

  .facts-content_number
    font-size: 32px

  .facts-content_author
    font-size: 14px
    line-height: 20px

