.detached-screen__facts
  background #F7F7F7

.facts-wrapper
  display: flex
  margin-top: 60px


.facts-content_number
  align-self: flex-start
  color: $colorTextGrey
  font-family: $AvenirDemi
  font-size: 48px
  position: relative
  top: 7px

.facts-content_description
  align-self: flex-start
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 16px
  line-height: 20px
  margin-bottom: 24px;
  max-width: 430px
  margin-left: 10px;

.facts-content_author
  color $colorTextGrey
  font-family: $AvenirRegular
  font-size: 16px
  line-height: 20px
  max-width: 390px

@media (max-width: 1025px)
  .facts-wrapper
    display: block

@media (max-width: $phoneWidth)
  .detached-screen__facts .content-wrapper
    padding-top: 5px

  .facts-content_number
    font-size: 32px

  .facts-content_author
    font-size: 14px
    line-height: 20px

