.detached-screen__contacts
  background: #ffffff

.labels
  font-size: 30px

.contacts-content_title
  color $colorRed
  font-family: $AvenirDemi
  font-size: 24px
  margin: 0 0 4.45vh 0
  text-decoration: none

.contacts-adress
  list-style none
  margin: 0
  padding: 0

.contacts-adress_item
  color $colorRed
  font-family: $AvenirRegular
  font-size: 16px
  line-height: 30px

.contacts-adress_link
  border-bottom: 1px solid transparent
  color $colorRed
  text-decoration: none
  transition:  border-bottom 100ms
  &:hover
    border-bottom: 1px solid $colorRed
    transition:  border-bottom 10ms

#map
  width: 100%;
  height: 66.7vh;
  margin-top: 4.45vh;
  z-index: 2

