.detached-screen__contacts
  background: #ffffff

.labels
  font-size: 30px

.content-title__contacts
  font-size: 24px !important

.contacts-adress
  list-style none
  margin: 0
  padding: 0

.contacts-adress_item
  font-family: $AvenirRegular
  font-size: 16px
  line-height: 30px

.contacts-adress_link
  border-bottom: 1px solid transparent
  color $colorTextGrey
  text-decoration: none
  transition:  border-bottom 100ms
  &:hover
    border-bottom: 1px solid $colorRed
    transition:  border-bottom 10ms

#map
  width: 100%;
  height: 66.7vh;
  margin: 40px auto;
  z-index: 2

@media (max-width: $palmtopWidth)
  .detached-screen__contacts
    padding: 0 0 40px !important

  .detached-screen__contacts .l-restrictor
    padding: 0 64px

@media (max-width: 500px)
  #map
    max-height: 320px

  .footer-label
    margin-top: 20px !important

@media (max-width: $phoneWidth)
  .detached-screen__contacts .content-wrapper
    padding-top: 5px

  .content-title__contacts
    font-size: 18px !important
    margin-bottom: 10px !important








