.machine-header
  background #ffffff
  box-sizing border-box
  box-shadow 0 0 30px 0 rgba(0, 0, 0, .13)
  min-height: 70px
  position fixed
  top 0
  transition: opacity 200ms
  left 0
  right: 0
  max-width: 1440px
  margin: 0 auto
  padding: 0 20px
  width: 100%
  z-index: 998
  &:before
    content: ''
    background: #ccc
    position: absolute
    top: 0
    left: -30px
    height: 110%
    width: 30px
  &:after
    content: ''
    background: #ccc
    position: absolute
    top: 0
    right: -30px
    height: 110%
    width: 30px

  .header-nav
    display flex
    justify-content: space-between
    align-items center
    margin: 0 auto
    max-width: 1440px
    min-height: 70px

.header-nav_logo-img__machine
  height: 30px
  position: relative
  top: 3px
  width: 106px

.ulsp-header_btn
  background $btnRed
  border none
  color #ffffff
  font-family: $AvenirDemi
  font-size: 16px
  min-height 40px
  width 220px
  transition background 50ms
  &:hover
    background #da0018
    transition background 100ms
  &:focus
    outline none

@media (max-width: 1042px)
  .header-nav-list_item
    margin-right: 20px

@media (max-width: $palmtopWidth)
  .machine-header
    padding-left: 64px
    padding-right: 64px

@media (max-width: 500px)
  .machine-header
    padding-left: 20px
    padding-right: 20px
