.detached-screen__production
  background rgb(227, 227, 227) url("../img/general/bg-production.jpg") no-repeat center
  background-size contain
  height: 100%
  padding-bottom: 0
  .l-restrictor
    height: 100%
  .content-wrapper
    height: 100%

.production-content_btn
  background $btnRed
  box-sizing border-box
  border none
  bottom 20vh
  color #ffffff
  font-family: $AvenirDemi
  font-size: 18px
  padding: 30px 50px 30px 20px;
  position: absolute
  text-align: center
  transition background 50ms
  text-decoration: none
  width 100%
  &:hover
    background #da0018
    transition background 100ms
  &:focus
    outline none
  &:after
    content ''
    background: url('../img/general/icon-arrow-right.svg')no-repeat center;
    height: 20px
    position: absolute
    right: 30px
    top 30px
    width: 12px

@media (max-width: 600px)
  .production-content_btn
    font-size: 16px
    line-height: 20px

@media (max-width: 553px)
  .production-content_btn:after
    top: 40px

@media (max-width: 500px)
  .production-content_btn:after
    top: 30px

@media (max-width: 465px)
  .production-content_btn:after
    top: 40px









