.detached-screen__laser
  background url("../img/general/bg-laser.jpg") no-repeat center
  background-size cover

.content-title__laser
  color #ffffff !important

.laser-content_description
  color #ffffff
  font-family: $AvenirDemi
  font-size: 21px
  line-height: 30px
  margin-bottom: 2.3vh
  margin-top: 0
