.detached-screen__laser
  background url("../img/general/bg-laser.jpg") no-repeat center
  background-size cover

.laser-content_title
  color #ffffff
  font-family: $AvenirDemi
  font-size: 32px
  margin: 0 0 4.45vh 0
  text-decoration: none

.laser-content_description
  color #ffffff
  font-family: $AvenirDemi
  font-size: 21px
  line-height: 30px
  margin-bottom: 2.3vh
  margin-top: 0
