.detached-screen__laser
  background #ffffff

.video-wrapper
  position: absolute
  height: 100%
  overflow: hidden
  width: 100%

.video-filter
  background: rgba(0, 0, 0, 0.5)
  position: absolute
  height: 100%
  width: 100%
  z-index: 1

.laser-videobg
  position: absolute;
  height: 100%
  margin: 0 auto
  left: 0
  right: 0
  z-index: 0;

.laser-videobg__book
  height: 100%

.content-title__laser
  color #ffffff !important

.laser-content_description
  color #ffffff
  font-family: $AvenirDemi
  font-size: 21px
  line-height: 30px
  margin-bottom: 2.3vh
  margin-top: 0

@media (max-width: $palmtopWidth)
  .detached-screen__laser
    padding: 0 0 40px !important


@media (max-width: $palmtopWidth)
  .detached-screen__laser
    .content-wrapper
      padding-left: 20px
      padding-right: 20px

@media (max-width: $smallPhoneWidth)
  .content-title__laser
    position: relative
    top: -70px






