.detached-screen__gdsulsp {
  background: #fff;
  padding-bottom: 0 !important;
}

.detached-screen__gdsulsp .content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
}

.gdsulsp_link {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
