.detached-screen__gdsulsp {
  background: #d6d6d6;
  padding-bottom: 0 !important;
}

.detached-screen__gdsulsp .content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
}

.gdsulsp_link {
  color: #000;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.gdsulsp_link__current {
    cursor: default;
    text-decoration: none;
}
