.detached-screen__usage
  background: #ffffff


.content-wrapper__usage
  position: initial

// .content-title__usage

.usage-paralax-wrapper
  height: 100%
  margin-top: 63px
  overflow: hidden
  position: relative
  width: 100%

.usage-list
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  list-style: none
  padding: 0
  position: relative
  left: 49px;

.usage-list_item
  display: inline-block
  text-align: center
  vertical-align: bottom
  margin-right: 95px
  margin-bottom: 48px
  width: 145px;

.usage-img
  max-width: 100%;

.usage-label
  font-family: $AvenirRegular
  color: $colorTextGrey;
  font-size: 18px;
  margin-top: 29px

@media (max-width: $phoneWidth)
  .scroll-bth-left,
  .scroll-bth-right
    display: block

  .usage-img__building
    max-height: 260px

  .detached-screen__usage
    padding: 0 0 40px;

  .content-title__usage
    margin-bottom: 20px !important;

  .content-wrapper__usage
    padding-left: 64px
    padding-right: 64px
    padding-top: 5px

  .usage-list
    left 0

  .usage-list_item
    margin-right: 0
    vertical-align: top
    width: 100vw

  .usage-img
    height: auto
    width: 90vw

@media (max-width: $smallPhoneWidth)
  .scroll-bth-left,
  .scroll-bth-right
    top 30%









