.detached-screen__usage
  background: #ffffff
  padding-left: 0 !important;
  padding-right: 0 !important;


.content-wrapper__usage
  position: initial

// .content-title__usage

.usage-paralax-wrapper
  height: 100%
  margin-top: 63px
  overflow: hidden
  position: relative
  width: 100%

.usage-list
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  list-style: none
  padding: 0
  position: relative

.usage-list_item
  display: inline-block
  text-align: center
  vertical-align: bottom
  margin-bottom: 48px
  width: 240px;

.usage-img
  max-height: 150px;
  max-width: 100%;

.usage-label
  font-family: $AvenirRegular
  color: $colorTextGrey;
  font-size: 18px;
  margin-top: 29px
  white-space: nowrap;

@media only screen and (max-width: 480px) {
  .usage-list {
    left: 0;
    padding: 0 20px;
  }
  .usage-list_item {
    margin-right: 0;
    width: 50%;
  }
  .usage-img {
    max-width: 75%;
  }
  .usage-img__building {
    max-width: 50%;
  }
  .usage-label {
    font-size: 16px;
  }
}








