.detached-screen__machine
  background rgb(221, 221, 221)
  height: 100%
  .l-restrictor
    height: 100%
  .content-wrapper
    height: 100%

.machine-content_title
  color $colorRed
  font-size: 32px


#machine-layout
  height: 100%
  width: 100%
