.detached-screen__machine
  background rgb(221, 221, 221)
  padding-bottom: 0
  .l-restrictor
    height: 100%
  .content-wrapper
    height: 100%
    padding: 0


.content-title__machine
  position: absolute

#machine-layout
  height: 100vh
  width: 100%

@media (max-width $palmtopWidth)
    .wbt-rotator__loaded .wbt-rotator-legend
      top: 0
      right: 0
      width: 320px

    .detached-screen__machine
      padding: 0 0 40px !important

    .content-title__machine
      margin-top: 0 !important
      left: 64px

@media (max-width $phoneWidth)
  .wbt-rotator-legend
    position: static
