.detached-screen__machine
  background rgb(221, 221, 221)
  padding-bottom: 0
  .l-restrictor
    height: 100%
  .content-wrapper
    height: 100%


.content-title__machine
  position: absolute

#machine-layout
  height: 300px
  width: 100%
