.header
  padding-top 40px

.header-nav
  text-align right

.header-nav-list
  list-style none

.header-nav-list_item
  color: #ffffff
  cursor pointer
  font-size 12px
  display inline-block
  margin-right 20px
  text-transform uppercase
  transition color 100ms
  vertical-align baseline
  &:last-child
    margin-right 0
  &:hover
    color #eb0029
    transition color 50ms

// @media (max-width 500px)
//   .header
//     padding-top 10px

